.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.package-list {
  min-width: 75vh;
  text-align: left;
  align-items: left;
}

.package {
  text-align: left;
  align-items: left;
}

a:link {
  color: lightblue;
}
a:visited {
  color: grey;
}

.button {
  background-color: black;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
